{% extends "base-sidenav.html" %}

{% block content %}
    <!-- MAIN VIEW REPORTES -->
    <div class="col s10">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="center-align">LISTA DE COMPAÑIAS DISPONIBLES</h5>
                </div>
                <div class="row">
                    <div class="col s12 m4 center-align">
                    	<a href="/1/reportes/" class="orange-text">
                    		<i class="large material-icons">account_balance</i>
                    		<br/>
                    		<strong>Paseo</strong>
                    	</a>
                    </div>   
                    <div class="col s12 m4 center-align">
                    	<a href="/2/reportes/" class="orange-text">
                    		<i class="large material-icons">account_balance</i>
                    		<br/>
                    		<strong>Celestes</strong>
                    	</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
