<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% for articulo in articulos %}
        <div style="border: 1px solid black">
                <br>
                Artículo: {{articulo.nombre}}
                <br>
                {% if articulo.depositos|length > 0 %}
                    Almacenes:
                    {% for almacen in articulo.depositos %}
                        <ul>
                            <li>{{almacen.nombre}}: {{almacen.fisica}}</li>
                        </ul>
                    {% endfor %}
                {% endif %}
                
        
                Cantidades vendidas: {{articulo.cantidad_vendida}}
                <br>
        </div>
    {% endfor %}
    
</body>
</html>