<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for articulo in articulos %}
        Artículo: {{articulo.nombre}}
        <br>
        Almacenes:
        {% for almacen in articulo.depositos %}
            <ul>
                <li>{{almacen.nombre}}: {{almacen.fisica}}</li>
            </ul>
        {% endfor %}

        Cantidades vendidas: {{articulo.cantidad_vendida}}
    {% endfor %}
</body>
</html>